<a href="https://colab.research.google.com/github/rezowanology/RezowanICT19/blob/main/RezowanDEC19_B3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1: Python Variable

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [3]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [4]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [5]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [20]:
x = "John"
# is the same as
x = 'John'
print(type(x))

<class 'str'>

In [22]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

In [23]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(MYVAR)

John
John

In [24]:
x = "Python is awesome"
print(x)

Python is awesome

In [25]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [26]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [27]:
x = 5
y = 10
print(x + y)

15

In [28]:
x = 5
y = "John"
print(x, y)

5 John

In [29]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [30]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [31]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Part 2: Data Types in Python

In [32]:
x = 5
print(type(x))

<class 'int'>

In [33]:
x = dict(name="John", age=36)
print(type(x))

<class 'dict'>

In [34]:
x = set(("apple", "banana", "cherry"))
print(x)
print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [35]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [36]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [37]:
x = tuple(("apple", "banana", "cherry"))
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

# Part3: Python Numbers

In [38]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [39]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [40]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [41]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [42]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [43]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>